//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C

// ====== тактирование ======
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// ====== кнопки на плате (active LOW) ======
IO_LOC "s2" 3;
IO_PORT "s2" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "s1" 4;
IO_PORT "s1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

// ====== внешние кнопки (active HIGH, внешний pull-down) ======
IO_LOC "btn[0]" 26;
IO_PORT "btn[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "btn[1]" 27;
IO_PORT "btn[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "btn[2]" 28;
IO_PORT "btn[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// ====== UART к Arduino (через LLC) ======
IO_LOC "uart_tx_pin" 33;
IO_PORT "uart_tx_pin" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx_pin" 34;
IO_PORT "uart_rx_pin" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// ====== Онбордовые LED (active LOW) ======
IO_LOC "led_ob[0]" 10;
IO_PORT "led_ob[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_ob[1]" 11;
IO_PORT "led_ob[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_ob[2]" 13;
IO_PORT "led_ob[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_ob[3]" 14;
IO_PORT "led_ob[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_ob[4]" 15;
IO_PORT "led_ob[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_ob[5]" 16;
IO_PORT "led_ob[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

// ====== Внешние LED (active HIGH) ======
IO_LOC "led_green" 29;
IO_PORT "led_green" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_red" 30;
IO_PORT "led_red" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// ====== HDMI (LVDS) ======
IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
